@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --shadow-color: 180deg, 100%, 10%;
  --shadow-elevation-low: 0.7px 0.6px 1px hsl(var(--shadow-color) / 0.34),
    1.2px 1px 1.8px -1.2px hsl(var(--shadow-color) / 0.34),
    2.8px 2.4px 4.1px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.7px 0.6px 1px hsl(var(--shadow-color) / 0.36),
    2.3px 1.9px 3.4px -0.8px hsl(var(--shadow-color) / 0.36),
    5.8px 4.9px 8.5px -1.7px hsl(var(--shadow-color) / 0.36),
    14px 11.9px 20.7px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.7px 0.6px 1px hsl(var(--shadow-color) / 0.34),
    4.1px 3.5px 6.1px -0.4px hsl(var(--shadow-color) / 0.34),
    7.6px 6.5px 11.3px -0.7px hsl(var(--shadow-color) / 0.34),
    12.5px 10.6px 18.4px -1.1px hsl(var(--shadow-color) / 0.34),
    20px 16.9px 29.5px -1.4px hsl(var(--shadow-color) / 0.34),
    31.3px 26.5px 46.1px -1.8px hsl(var(--shadow-color) / 0.34),
    47.6px 40.2px 70.1px -2.1px hsl(var(--shadow-color) / 0.34),
    70.2px 59.3px 103.4px -2.5px hsl(var(--shadow-color) / 0.34);

  --font-size: 0.5rem;
  --font-head: "Lato", sans-serif;
  --font-body: "Fredoka", sans-serif;
  --bg-black: #100c0d;
  --font-clr: #e3dcd2;
  --border-clr: #013328;
}

body {
  padding-top: 50px;
}

p {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-head);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); /* 50% opacity */
  z-index: 0;
}

.animex-container {
  position: relative;
  z-index: 1;
  text-align: center;
  height: 100vh;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  border: 1px solid var(--border-clr);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-family: var(--font-body);
}

.navBar .search-bar {
  width: 300px;
  height: 20px;
}

.anime_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin: 0;
  place-items: center;
  width: 100%;
  padding: 0;
}

.anime_list_item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  height: 200px;
  width: 300px;
  overflow: hidden;
  border: 2px solid var(--border-clr);
  background-color: var(--bg-black);
  box-shadow: var(--shadow-elevation-low);
  color: var(--font-clr);
  border-radius: 12px;
  transition: box-shadow 0.3s ease-in-out;
}

.anime_list_item img {
  width: 100%;
  height: 100%;
}

.anime_article {
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.article_header {
  font-size: 1rem;
}

.airing {
  border: 1px solid black;
  align-self: flex-end;
  border: 1px solid var(--border-clr);
  padding: 3px;
  margin: 4px;
  border-radius: 4px;
  box-shadow: var(--shadow-elevation-low);
  font-size: 0.7rem;
  font-family: var(--font-body);
}

.error {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: var(--font-ojuju);
  flex-direction: column;
  color: var(--font-clr);
}

@media (min-width: 410px) {
  .anime_list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    margin: 0;
    place-items: center;
    width: 100%;
    padding: 10px;
  }

  .anime_list_item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    height: 160px;
    width: 180px;
    overflow: hidden;
    border: 2px solid var(--border-clr);
    background-color: var(--bg-black);
    box-shadow: var(--shadow-elevation-low);
    color: var(--font-clr);
    border-radius: 12px;
    transition: box-shadow 0.3s ease-in-out;
  }

  .anime_article {
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .article_header {
    font-size: 0.7rem;
  }

  .article_synopsis {
    font-size: 0.35rem;
  }

  .airing {
    font-size: 0.5rem;
  }
}

@media (max-width: 400px) {
  .navBar {
    padding: 10px;
  }
  .navBar .search-bar {
    width: 200px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
